<div class="tile-container">
    <div class="tile" ng-click="c.openIncidents()">
        <h2>Active Incidents</h2>
        <p>{{ c.activeIncidents }}</p>
    </div>
    <div class="tile" ng-click="c.openChanges()">
        <h2>Active Changes</h2>
        <p>{{ c.activeChanges }}</p>
    </div>
    <div class="tile" ng-click="c.openProblems()">
        <h2>Active Problems</h2>
        <p>{{ c.activeProblems }}</p>
    </div>
    <div class="tile" ng-click="c.openCatalogTasks()">
        <h2>Active Catalog Tasks</h2>
        <p>{{ c.activeCatalogTasks }}</p>
    </div>
</div>
