<div class="notification-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="fa fa-envelope-o m-r-sm"></i>${Notifications}
        </h2>
      </div>
      <div class="body padder-xs">
        <div class="list-group">
          <div class="list-group-item" ng-repeat='notification in c.notificationArray'>
            <label><strong>{{notification.name}}</strong></label>
            <div class="input-switch">
              <input aria-labelledby="switch_label_{{notification.notification.sys_id}}" 
                 id="switch{{notification.notification.sys_id}}" 
                 type="checkbox" 
                 name="switch{{notification.notification.sys_id}}" 
                 data-ng-model="notification.records[0].logical_active" 
                 data-ng-change="c.toggleNotification(notification.records[0].logical_active,notification.records[0].channel.sys_id,notification.notification.sys_id,notification.records[0].sys_id,notification.records[0].table)" 
                 data-ng-disabled="notification.records[0].readonly" >
          <label aria-hidden="true" class="switch" for="switch{{notification.notification.sys_id}}">&#8203;</label>
            </div>
            <div class='description' ng-bind-html='::notification.description'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>