.upgrade-countdown {
  background: -webkit-linear-gradient(right, #fe0000, #051d8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-top: 25px;
  p {
    margin-bottom: 0;
  }
}

.count-down {
  background: -webkit-linear-gradient(right, #fe0000, #051d8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  color: $brand-danger;
  .number {
    line-height: 130px;
    font-size: 150px;
    font-weight: 200;
  }
  .seconds {
    font-size: 18px;
    margin-top: 20px;
  }
}

.btn {
  text-align: center;
  background: -webkit-linear-gradient(right, #051d8e,#fe0000);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}
